<meta charset='utf-8'>
<link rel="icon" href="favicon.ico">

<title>The Mighty TinyApp</title>

<% if (user) { %>

<div align="right"><form style="display: inline-block" action="/logout" method="POST">
      <input type="submit" data-button="outline" value="Logout">
    </form></div>

<h3><%= "Welcome, " + user['email'] + "."  %></h3>

<% } else { %>

<div align="right"><form style="display: inline-block" action="/login" method="GET">
      <input type="submit" data-button="outline" value="Log in">
    </form>
    <form style="display: inline-block" action="/register" method="GET">
      <input type="submit" data-button="outline" value="Register">
    </form>

  </div>

<% } %>