<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
    <h1>ShortURL: <i><%= shortURL %></i></h1>
    <form method="POST" action="/urls/<%= shortURL %>">
        <label for="longURL">Enter a New URL:</label>
        <input id="longURL" type="text" name="update" placeholder="http://" style="width: 300px">
        <input type="submit" value="update">
     </form>
</body>
</html>